<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>index</title>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <section class="container mt-4">
        <div class="col-12">
            <h2 th:text="${pizza.name}"></h2>
            <p th:text="'Ingredienti: ' + ${pizza.description}"></p>
            <p th:text="'Prezzo: ' + ${pizza.price} + '$'"></p>

        </div>

    </section>
</body>

</html>